<% include header %>

<div class="card">
  <div class="card-header">
    <h1 class="display-4" style="font-size:20px"><i class="fas fa-info-circle"></i>Mettre à disposition un objet</h1>
  </div>
  <div class="card-body">
    <form class="needs-validation" action="/" method="POST" novalidate>
    
      <button type="submit" class="btn btn-primary">Valider</button>
    </form>
  </div>
</div>

<% include footer %>
