<% include header %>


  <div>
  <h1 class="display-1" style="font-size:2em; margin-bottom: 20px">Objets disponibles a l'achat sur Amazon</h1>
      <a href="https://www.amazon.fr/Electronic-Arts-5030948121524-FIFA-18/dp/B072JTCLVL?psc=1&SubscriptionId=AKIAJJXURI3CDYZTSW6Q&tag=trocutt-21&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B072JTCLVL" class="list-group-item list-group-item-action flex-column align-items-start">
            <img src="https://images-eu.ssl-images-amazon.com/images/I/51uIIOonM%2BL._SL160_.jpg" width="120" height="160">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">FIFA 18</h5>
          <small class="text-muted">EUR 34,99</small>
        </div>
        <p class="mb-1">Shop Now</p>
        <a href="https://www.amazon.fr/Electronic-Arts-5030948121524-FIFA-18/dp/B072JTCLVL?psc=1&SubscriptionId=AKIAJJXURI3CDYZTSW6Q&tag=trocutt-21&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B072JTCLVL" style="text-decoration:none">
        </a>
      </a>
</div>

<% include footer %>



<!--app.get('/announcements/available', (req, res) => {
     if(req.query.search  === undefined || req.query.search  === '') {
        Annoucement.getAllWithObjects(function(err,body){
        if(err){
        throw err
      }{
        res.render('pages/objects',values = {listOfAnnouncements: body,moment:moment})
      }
    })
    } else {
            //console.log(req);
            opHelper.execute('ItemSearch', {
                'SearchIndex': 'All',
                'Keywords': req.query.search,
                'ResponseGroup': 'Images,ItemAttributes,Offers'
        }).then((response) => {
            console.log("HELLO :" + response.responseBody.ASIN);
            console.log("RAW RESPONSE BODY: ", response.responseBody);
            //console.log("RESPONSE RESULT" + response.result);

        }).catch((err) => {
            console.error("Something went wrong! ", err);
        });
        res.render('pages/amazon');
    }


})

const {OperationHelper} = require('apac');

const opHelper = new OperationHelper({
    awsId:     'AKIAJJXURI3CDYZTSW6Q',
    awsSecret: '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',
    assocId:   'trocutt-21',
    locale: 'FR',
    maxRequestsPerSecond: 1
}); -->




<!-- HTML code for ASIN : B072JTCLVL -->
<!--   <a target="_blank" href="https://www.amazon.fr/Electronic-Arts-5030948121524-FIFA-18/dp/B072JTCLVL?psc=1&SubscriptionId=AKIAJJXURI3CDYZTSW6Q&tag=trocutt-21&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B072JTCLVL">
        <img src="https://images-eu.ssl-images-amazon.com/images/I/51uIIOonM%2BL._SL160_.jpg" width="120" height="160">
    </a>
    <div class="product-title">
        <h3>FIFA 18</h3>
    </div>
    <p class="product-price">EUR 34,99<br>
       <a target="_blank" style="color: #337ab7; text-decoration:none;" href="https://www.amazon.fr/gp/offer-listing/B072JTCLVL?SubscriptionId=AKIAJJXURI3CDYZTSW6Q&tag=trocutt-21&linkCode=xm2&camp=2025&creative=12742&creativeASIN=B072JTCLVL"> More offers </a>
   </p>
    <div>
        <span class="a-button a-button-primary">
            <a target="_blank" href="https://www.amazon.fr/Electronic-Arts-5030948121524-FIFA-18/dp/B072JTCLVL?psc=1&SubscriptionId=AKIAJJXURI3CDYZTSW6Q&tag=trocutt-21&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B072JTCLVL" style="text-decoration:none">
                <span class="a-button-inner">
                    <img src="http://webservices.amazon.fr/scratchpad/assets/images/Amazon-Favicon-64x64.png" class="a-icon a-icon-shop-now">
                    <input class="a-button-input" type="submit" value="Add to cart">
                    <span class="a-button-text">Shop Now</span>
                </span>
            </a>
        </span>
    </div>
</div> -->
