<% include header %>
<div class="card">
  <div class="card-header">
    <h1 class="display-4" style="font-size:20px"><i class="fas fa-info-circle"></i> Qu'est-ce que Troc'UTT ?</h1>
  </div>
  <div class="card-body">
    <p class="card-text">Troc'UTT est l'application de troc entre membre de l'UTT. Elle permet de mettre en contact membres du personnel, enseignants et étudiants de l'université. <br />
      Avec cette application, vous aurez la possibilité de trouver un objet qu'un utilisateur faisant parti de l'UTT met à disposition de tous. <br />
      Vous pourrez également vous aussi proposer vos propres objets (si vous n'en avez pas l'utilité pour le moment) et les mettres à disposition de tous.<br />
      Bon troc avec Troc'UTT ! <i class="far fa-smile"></i></p>
  </div>
</div>
<% include footer %>
