<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Acceuil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/annoucements/available">Objets disponibles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/annoucements/my_annoucements">Mes annonces</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Me déconnecter</a>
  </li>
</ul>
